[submodule "LinEnum"]
	path = LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "linux-exploit-suggester"]
	path = linux-exploit-suggester
	url = https://github.com/mzet-/linux-exploit-suggester.git
[submodule "phpggc"]
	path = phpggc
	url = https://github.com/ambionics/phpggc.git
[submodule "log4j-shell-poc"]
	path = log4j-shell-poc
	url = ./log4j-shell-poc
[submodule "qsreplace"]
	path = qsreplace
	url = ./qsreplace
